.Animated-Toggle-component{
	&--fade{
		&--state-CLOSED {
			display: none !important;
			opacity:0;
		}

		&--state-PREOPENING,
		&--state-CLOSING {
			opacity:0;
		}

		&--state-OPENING,
		&--state-OPEN {
			opacity:1;
		}

		transition: opacity 300ms;
	} 


}