html{
	display:flex;
	height:100%;
	padding:0;
	margin:0;
	background-color:#222;
	color: #EAA;
}

body{
	flex:1;
	display: flex;
	padding:0;
	margin:0;
}

#app{
	flex:1;
	display:flex;
}

.App-component{
	flex:1;
	display: flex;
	&__view-container{
		flex:1;
		display:flex;
	}

	&__view{
		position:absolute;
		width:100%;
		height:100%;
		flex:1;
		display:flex;
		justify-content: center;
		align-items:center;
		&--about{
			flex-direction: column;
		}
	}
}

@font-face {
    font-family: "Commodore";
    src: url(commodore-pixelized.ttf) format("truetype");

}
